/GuiaDeEjercicios/nbproject/private/
/GuiaDeEjercicios/build/
/TeoricoCursada/JavaApplication6/nbproject/private/
/TeoricoCursada/JavaApplication6/build/
/PracticaCursada/PracticoCursada/nbproject/private/
/PracticaCursada/ProyectoHotel/build/
/PracticaCursada/ProyectoHotel/nbproject/private/
/PracticaCursada/New Folder/JavaApplication8/nbproject/private/
/PracticaCursada/New Folder/ProyectoComercio/nbproject/private/
/PracticaCursada/ProyectoComercio/nbproject/private/
/PracticaCursada/ProyectoComercio/build/
/Inmobiliaria/nbproject/private/
/Inmobiliaria/build/